@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-data: 'Space Grotesk', system-ui, sans-serif;

  font-family: var(--font-data);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-black text-slate-200 selection:bg-blue-500/30 selection:text-white;
  letter-spacing: -0.01em;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tracking-tight font-black text-white;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}